<%= render "layouts/navbar" %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de alunos</h1>
<hr>
<section class="content-section" id="alunos-desc">
  <% @grades.each do |grade| %>
    <div class="container">
      <h3 class="">Nome do Aluno: <%= grade.alumn.name %></h3>
      <%= form_for (grade), url: post_grades_path, method: :put do |g| %>
        <div class="form-group">
          <%= g.label :grade_01, class:"sr-only" %>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-user"></span>
               1º Bimestre
            </span>
            <%= g.text_field :grade_01, class:"form-control", placeholder:"1º Bimestre" %>
          </div>
        </div>
        <div class="form-group">
          <%= g.label :grade_02, class:"sr-only" %>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-user"></span>
               2º Bimestre
            </span>
            <%= g.text_field :grade_02, class:"form-control", placeholder:"2º Bimestre" %>
          </div>
        </div>
        <div class="form-group">
          <%= g.label :grade_03, class:"sr-only" %>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-user"></span>
               3º Bimestre
            </span>
            <%= g.text_field :grade_03, class:"form-control", placeholder:"3º Bimestre" %>
          </div>
        </div>
        <div class="form-group">
          <%= g.label :grade_04, class:"sr-only" %>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-user"></span>
               4º Bimestre
            </span>
            <%= g.text_field :grade_04, class:"form-control", placeholder:"4º Bimestre" %>
          </div>
        </div>
        <%= hidden_field_tag(:alumn_id, grade.alumn.id)%>
        <%= g.submit "Salvar", subject_id: grade.subject.id, class:'btn btn-lg btn-success' %>
      <% end %>
    </div>
    <hr>
  <% end %>
</section>
