<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-flatly.min.css">
	<link rel="stylesheet" type="text/css" href="css/master.css">
</head>
<body>
<%= form_tag login_path do %>
    <header>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <%= image_tag("Logo_Escola_X_500x500.png",
                        class: "img-responsive", alt: "logo") %>
                    </div>
                    <div class="col-sm-12 col-md-6" id="formz">
                        <h1 class="text-info text-center text-uppercase">
                          Faça login<br>
                          <small class="text-muted text-lowercase">
                            para utilizar a ferramenta
                          </small>
                        </h1>
                        <form>
                            <div class="form-group">
                                <%= label_tag 'login', 'Login',
                                class: 'sr-only' %>
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon
                                    glyphicon-user">
                                    </span>
                                    <%= text_field_tag('login', nil,
                                    placeholder: "Login", class: "form-control")
                                     %>
                                </div>
                            </div>
                            <div class="form-group">
                                <%= label_tag 'password', 'Senha',
                                class: 'sr-only' %>
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon
                                    glyphicon-lock">
                                    </span>
                                    <%= password_field_tag('password', nil,
                                    class: 'form-control', placeholder: 'Senha')
                                    %>
                                </div>
                            </div>
                            <!-- <button type="submit" class="btn btn-block
                            btn-success" name="button">Enviar</button> -->
                            <%= submit_tag "Entrar", class: 'btn btn-block
                            btn-success'
                            %>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div class="container text-center text-muted">
            <p>&copy; GPL-03</p>
        </div>
    </footer>
    <script src="js/jquery-2.2.4.js"></script>
    <!--
<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
-->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/master.js"></script>
<% end %>
</body>
</html>
