<%= render "layouts/navbar" %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Funcionários</h1>
<hr>
<section class="content-section" id="alumns-list">
  <% @employees.each do |employee| %>
  <div class="container">
    <div class="row item">
      <div class="col-sm-12 col-md-4">
        <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
      </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h2><%= employee.name %></h2>
        <h4> <%= employee.address %> </h4>
        <h4>Data de Nascimento:  
          <% if(!employee.birth_date.nil?)%>
              <%= employee.birth_date.strftime("%d/%m/%Y") %>
          <%end%>
        </h4>     
        <h4> <%= employee.gender %> </h4>
        <h4> <%= employee.phone %> </h4>
        <h4><%= employee.registry %></h4>
        <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, employee_path(employee), class:'btn btn-info' %>
        <%if is_principal? %>
          <%= link_to '<span class="fa fa-unlock"></span> Resetar senha'.html_safe, edit_password_employee_path(employee), class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <% end %>
</section>
