<%= form_for (@classroom) do |f| %>
  <div class="form-group">
    <%= f.label :name_classroom, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-sticky-note"></span>
         Nome da turma
      </span>
      <%= f.text_area :name_classroom, class:"form-control", placeholder:"Exemplo: 3D" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :shift_classroom, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-hourglass-half "></span>
         Turno da turma
      </span>
      <%= f.text_area :shift_classroom, class:"form-control", placeholder:"Exemplo: Matutino" %>
    </div>
  </div>





  <%= f.button '<span class="fa fa-check"></span> Salvar'.html_safe, type:"submit", class:'btn btn-lg btn-success' %>
  <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, users_path, class:'btn btn-lg btn-warning' %>
<% end %>
