text_field<%= form_for (@classroom) do |f| %>
<% if @classroom.errors.any? %>
  <div class="container">
    <div class="text-danger">
      <div id="error_explanation">
        <h2 class=""><%= pluralize(@classroom.errors.count, "erro proibiu", "erros proibiram") %> este formulario de ser salvo:</h2>
        <ul>
        <% @classroom.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
  <div class="form-group">
    <%= f.label :name_classroom, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-sticky-note"></span>
         Nome da turma
      </span>
      <%= f.text_field :name_classroom, class:"form-control", placeholder:"Exemplo: 3D" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :shift_classroom, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-hourglass-half "></span>
         Turno da turma
      </span>
      <%= f.text_field :shift_classroom, class:"form-control", placeholder:"Exemplo: Matutino" %>
    </div>
  </div>





  <%= f.button '<span class="fa fa-check"></span> Salvar'.html_safe, type:"submit", class:'btn btn-lg btn-success' %>
  <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, users_path, class:'btn btn-lg btn-warning' %>
<% end %>
