<%= render "layouts/navbar" %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Turmas</h1>
<hr>
<section class="content-section" id="alunos-desc">
  <% @classrooms.each do |classroom| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 pull-right">
          <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, :back, class:'btn btn-sm btn-info' %>
          <%if is_employee? %>
            <%if is_principal? %>
              <%= link_to '<span class="fa fa-edit"></span> Editar'.html_safe, edit_classroom_path(classroom), class:"btn btn-sm btn-default" %>
              <%= link_to '<span class="fa fa-times"></span> Excluir'.html_safe, "", method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Tem certeza? Essa alteração não pode ser desfeita.' } %>
              <%= link_to '<span class="fa fa-user-plus"></span> Adicionar Alunos'.html_safe, add_alumns_path(classroom), class:"btn btn-sm btn-warning" %>
            <% end %>
            <%= link_to '<span class="fa fa-address-card"></span> Matérias'.html_safe, classroom_subjects_path(classroom), class:'btn btn-sm btn-primary' %>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-5">
          <p class="class-name">Nome da Turma: <%= classroom.name_classroom %></p>
          <h3>Turno: <%= classroom.shift_classroom %></h3>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</section>
