<%= render "layouts/navbar" %>
<br>
<br>
 <% if flash[:success]%>
  <div class="alert alert-success" role = "alert"><%= flash[:success]%></div>
 <% end %>
 <% if flash[:notice]%>
  <div class="alert alert-warning" role = "alert"><%= flash[:notice]%></div>
 <% end %>
<section class="content-section" id="alunos-desc">
  <div class="container">
    <div class="pull-right">
      <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, :back, class:'btn btn-sm btn-info' %>
      <%if @current_user.is_a?(Employee) %>
        <%if @current_user.permission=="Principal" %>
          <%= link_to '<span class="fa fa-edit"></span> Editar'.html_safe, edit_classroom_path(@classroom), class:"btn btn-sm btn-default" %>
          <%= link_to '<span class="fa fa-times"></span> Excluir'.html_safe, "", method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Tem certeza? Essa alteração não pode ser desfeita.' } %>
          <%= link_to '<span class="fa fa-user-plus"></span> Adicionar alunos'.html_safe, add_alumns_path(@classroom), class:"btn btn-sm btn-info" %>
        <% end %>
      <% end %>
    </div>
    <div class="row item">
      <div class="col-sm-12 col-md-8 descript">
        <h3 class="">Nome da Turma: <%= @classroom.name_classroom %></h3>
        <h3 class="">Turno: <%= @classroom.shift_classroom %></h3>
      </div>
    </div>
  </div>
</section>
