<%= form_for (@strike) do |f| %>
<% if @strike.errors.any? %>
  <div class="container">
    <div class="text-danger text-justify">
      <div id="error_explanation">
        <h2 class=""><%= pluralize(@strike.errors.count, "erro") %> proibiram este formulario de ser salvo:</h2>
        <ul>
        <% @strike.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
  <div class="form-group">
    <%= f.label :description_strike, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-sticky-note"></span>
         Descrição
      </span>
      <%= f.text_area :description_strike, class:"form-control", placeholder:"Descrição da Advertência" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_strike, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
         Data da Advertência
      </span>
      <%= f.date_field :date_strike, class:"form-control", placeholder:"Ex.: dd/mm/aaaa" %>
    </div>
  </div>




  <%= f.button '<span class="fa fa-check"></span> Salvar'.html_safe, type:"submit", class:'btn btn-lg btn-success' %>
  <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, alumn_strike_path(@strike), class:'btn btn-lg btn-warning' %>
<% end %>
