<%= render "layouts/navbar" %>
<br>
<br>
 <% if flash[:success]%>
  <div class="alert alert-success" role = "alert"><%= flash[:success]%></div>
 <% end %>
 <% if flash[:notice]%>
  <div class="alert alert-warning" role = "alert"><%= flash[:notice]%></div>
 <% end %>
<section class="content-section" id="notification">
  <div class="container">
    <div class="text-center">
      <%= link_to '<span class="fa fa-arrow-left"></span>Voltar'.html_safe, notifications_path, class:'btn btn-sm btn-info' %>
      <%if is_employee? %>
        <%if @current_user.id == @notification.employee_id %>
          <%= link_to '<span class="fa fa-edit"></span>Editar'.html_safe, edit_notification_path(@notification), class:"btn btn-sm btn-default" %>
        <%end%>
        <%if is_principal? %>
          <%= link_to '<span class="fa fa-times"></span>Excluir'.html_safe, "", method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Tem certeza? Essa alteração não pode ser desfeita.' } %>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 text-justify">
        <p>
          <%= @notification.notification_text %>
        </p>
      </div>
      <div class="col-sm-12 col-md-4 text-capitalize">
        <h3><%= @notification.title %></h3>
        <h4>Motivo: <%= @notification.motive %></h4>
        <h5>De: <%= @assignee %></h5>
        <h5>Criado em: <%= @notification.notification_date.day %>/<%= @notification.notification_date.month %>/<%= @notification.notification_date.year %></h5>
      </div>
    </div>
  </div>
</section>
