
<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="text-capitalize text-center">Resetar senha</h1>
    <%= form_for @user do |user| %>
    <div class="form-group">
      <h2 class="text-left text-capitalize"><%= @user.name %></h2>
      <%= user.label :password, class:'text-muted text-uppercase' %>
      <div class="input-group">
        <span class="input-group-addon fa fa-unlock"></span>
        <%= user.password_field :password, class:'form-control', placeholder:'Insira a nova senha.' %>
      </div>
    </div>
      <%= user.submit "Salvar",class:'btn btn-lg btn-success' %>
      <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, users_path, class:'btn btn-lg btn-default' %>
    <% end %>
  </div>
</div>
