<%= render "layouts/navbar" %>
<br>
<br>
<% if flash[:alert]%>
 <div class="alert alert-danger" role = "alert"><%= flash[:alert]%></div>
<% end %>
<% if flash[:success]%>
 <div class="alert alert-success" role = "alert"><%= flash[:success]%></div>
<% end %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Usuários</h1>
<hr>
<section class="content-section" id="alumns-list">
  <% @parents.each do |parent| %>
    <div class="container">
      <div class="row item">
        <div class="col-sm-12 col-md-4">
          <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
        </div>
        <div class="col-sm-12 col-md-8 text-capitalize descript">
          <h2> <%= parent.name %> </h2>
          <h4>Endereço: <%= parent.address %> </h4>
          <h4>Data de Aniversário: <%= parent.birth_date %> </h4>
          <h4>Gênero: <%= parent.gender %> </h4>
          <h4>Telefone: <%= parent.phone %> </h4>
          <h4>CPF: <%= parent.parent_cpf %> </h4>
          <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, parent_path(parent), class:'btn btn-info' %>
          <%if is_principal? %>
            <%= link_to '<span class="fa fa-unlock"></span> Resetar senha'.html_safe, edit_password_parent_path(parent), class:'btn btn-default' %>
          <% end %>
        </div>
      </div>
      <hr>
    </div>
  <% end %>
    <% @alumns.each do |alumn| %>
      <div class="container">
        <div class="row item">
          <div class="col-sm-12 col-md-4">
            <% if alumn.image_file_name == nil %>
              <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
            <% else %>
              <%= image_tag(alumn.image.url(:original), alt: "", class: "img-responsive") %>  

            <%end%>
          </div>
          <div class="col-sm-12 col-md-8 text-capitalize descript">
            <h2><%= alumn.name %></h2>
            <h4>Endereço: <%= alumn.address %> </h4>
            <h4>Data de Aniversário: <%= alumn.birth_date %> </h4>
            <h4>Idade: <%= alumn.get_age %> </h4>
            <h4>Gênero: <%= alumn.gender %> </h4>
            <h4>Telefone: <%= alumn.phone %> </h4>
            <h4>Matrícula: <%= alumn.registry %></h4>
            <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, alumn_path(alumn), class:'btn btn-info' %>
            <% if is_principal? %>
              <%= link_to '<span class="fa fa-unlock"></span> Resetar senha'.html_safe, edit_password_alumn_path(alumn), class:'btn btn-default' %>
              <%= link_to '<span class="fa fa-address-card"></span> Dar advertência'.html_safe, new_alumn_strike_path(alumn), class:'btn btn-warning' %>
              <%= link_to '<span class="fa fa-address-card"></span> Dar Suspensão'.html_safe, new_alumn_suspension_path(alumn), class:'btn btn-warning' %>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
  <% end %>
  <% @employees.each do |employee|%>
    <div class="container">
      <div class="row item">
        <div class="col-sm-12 col-md-4">
          <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
        </div>
        <div class="col-sm-12 col-md-8 text-capitalize descript">
          <h2><%= employee.name %></h2>
          <h4>Endereço: <%= employee.address %> </h4>
          <h4>Data de Aniversário: <%= employee.birth_date %> </h4>
          <h4>Gênero: <%= employee.gender %> </h4>
          <h4>Telefone: <%= employee.phone %> </h4>
          <h4>Matrícula: <%= employee.registry %></h4>
          <% if employee.is_a?(Teacher) %>
            <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, teacher_path(employee), class:'btn btn-info' %>
          <% elsif employee.is_a?(Secretary) %>
            <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, secretary_path(employee), class:'btn btn-info' %>
          <%end%>
          <% if is_principal? %>
            <%= link_to '<span class="fa fa-unlock"></span> Resetar senha'.html_safe, edit_password_employee_path(employee), class:'btn btn-default' %>
          <%end%>
        </div>
      </div>
      <hr>
    </div>
  <% end %>
</section>
