<%= render "layouts/navbar" %>
<section class="content-section" id="alunos-desc">
  <div class="container">
    <%= link_to 'Editar', edit_user_path(@user), class:"btn btn-sm btn-info" %>
    <%= link_to 'Destroy', "", method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Tem certeza? Essa alteração não pode ser desfeita.' } %>
      <div class="row item">
        <div class="col-sm-12 col-md-4">
          <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
        </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h3 class=""><%= @user.name %></h3>
      </div>
    </div>
  </div>
</section>
