<%= render "layouts/navbar" %>
<section class="content-section" id="alunos-desc">
  <div class="container">
    <%= link_to 'Editar', edit_user_path(@user), class:"btn btn-sm btn-default" %>
    <%= link_to 'Destroy', "", method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class="row item">
        <div class="col-sm-12 col-md-4">
          <img src="img/foto%20250x300.jpg" alt="" class="img-responsive">
        </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h3 class=""><%= @user.name %></h3>
        <h4 class=""><%= @user.name %> da escola CEM01</h4>
        <h5>matrícula:  <%= @user.alumn.registry %></h5>
        <p>Endereço:  <%= @user.address %></p>
        <p>Gênero:  <%= @user.gender %></p>
        <p>Telefone:  <%= @user.phone %></p>
        <p>Data de Nascimento:  <%= @user.birth_date %></p>
        <p>Turno:  <%= @user.alumn.shift %></p>
        <p>nome responsáveis:</p>
        <ul>
          <li>janaína xavier de jesus</li>
          <li>robson lucas figueredo</li>
        </ul>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active" role="presentation"><a href="#faltas" aria-controls="faltas" role="tab" data-toggle="tab">Faltas</a></li>
      <li role="presentation"><a href="#boletim"aria-controls="boletim" role="tab" data-toggle="tab">Boletim</a></li>
      <li role="presentation"><a href="#notificacoes" aria-controls="notificacoes" role="tab" data-toggle="tab">Notificações</a></li>
    </ul>
    <div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="faltas">
          <ul>
            <!-- <li>11/09/2003</li>
            <li>06/06/2013</li>
            <li>13/13/2013</li>
            <li>30/02/2002</li> -->
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="boletim">
          <img src="img/boletim.png" class="img-responsive">
        </div>
        <div role="tabpanel" class="tab-pane" id="notificacoes">
          <p>nenhuma notificação no histórico.</p>
        </div>
      </div>
    </div>
  </div>
</section>
