<%= render "layouts/navbar" %>
<%= form_for (@user) do |f| %>
<% if @user.errors.any? %>
  <div class="container">
    <div class="text-danger">
      <div id="error_explanation">
        <h2 class=""><%= pluralize(@user.errors.count, "erro") %> proibiram este formulario de ser salvo:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
  <div class="form-group">
    <%= f.label :name, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-user"></span>
         Nome
      </span>
      <%= f.text_field :name, class:"form-control", placeholder:"Nome do usuário" %>
    </div>
  </div>
  <%= f.fields_for :teacher, Teacher.new do |teachers|%>
    <div class="form-group">
      <%= teachers.label :cpf_teacher, class:"sr-only" %>
      <div class="input-group">
        <span class="input-group-addon">CPF</span>
        <%= teachers.text_field :cpf_teacher, class:"form-control cpf active", placeholder:"Somente números."%>
      </div>
      <p>
        <small class="text-muted text-lowercase sr-only">(somente numeros)</small>
      </p>
    </div>
    <div class="form-group">
    <%= teachers.label :admission_date_teacher, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-gift"></span>
         Data de Admissão
      </span>
      <%= teachers.date_field :admission_date_teacher, class:"form-control", placeholder:"Ex.: dd/mm/aaaa" %>
    </div>
    <div class="form-group">
      <%= teachers.label :registry, class:"sr-only" %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="fa fa-id-card"></span>
           Matricula
        </span>
        <%= teachers.number_field :registry, class:"form-control", placeholder:"Ex.: 153456" %>
      </div>
    </div>
    <div class="form-group">
      <%= teachers.label :passoword_teacher, class:"sr-only" %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
           Senha
        </span>
        <%= teachers.password_field :passoword_teacher, class:"form-control", plaeholder:'Senha de mínimo 8 digitos.' %>
      </div>
    </div>
  </div>
  <% end %>
  

  <%= f.hidden_field :permission, :value => "Teacher"%>
  <%= f.submit "Salvar", class:'btn btn-lg btn-success' %>
  <%= link_to "Voltar", users_path, class:'btn btn-lg btn-warning' %>
<% end %>
