<%= form_for (@alumn) do |f| %>
  <% if @alumn.errors.any? %>
    <div class="text-danger text-justify">
      <div id="error_explanation">
        <h2 class=""><%= pluralize(@alumn.errors.count, "erro") %> proibiram este formulario de ser salvo:</h2>
        <ul>
        <% @alumn.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-user"></span>
         Nome
      </span>
      <%= f.text_field :name, class:"form-control", placeholder:"Nome do usuário" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :registry, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-id-card"></span>
        Matricula
      </span>
      <%= f.number_field :registry, class:"form-control", placeholder:"Ex.: 153456" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shift, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-clock-o"></span>
        Turno
      </span>
      <%= f.text_field :shift, class:"form-control", placeholder:"Ex.: matutino" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :classroom_id, class:"sr-only", id: "sel1" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-users"></span>
        Turma
      </span>
      <%= f.select :classroom_id, @classrooms.collect {|classroom| [classroom.name_classroom, classroom.id]},{:include_blank => false}, {:class => "form-control", :id => "sel1"}%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-home"></span>
         Endereço
      </span>
      <%= f.text_field :address, class:"form-control", placeholder:"Ex.: Rua do limoeiro, casa 53" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-phone"></span>
         Telefone
      </span>
      <%= f.text_field :phone, class:"form-control", placeholder:'Somente números com DDD.' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birth_date, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-gift"></span>
         Nasc.
      </span>
      <%= f.date_field :birth_date, class:"form-control", placeholder:"Ex.: dd/mm/aaaa" %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-venus-mars"></span>
         Sexo
      </span>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-radio">
          <%= f.radio_button(:gender,"Feminino") %> Feminino
        </label>
        <label class="btn btn-radio">
          <%= f.radio_button(:gender,"Masculino") %> Masculino
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
       <p class="text-uppercase"><strong>Imagem</strong></p>
      <%= f.file_field :image %>
    </div>
  </div>
  <%= f.button '<span class="fa fa-check"></span> Salvar'.html_safe, type:"submit", class:'btn btn-lg btn-success' %>
  <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, alumn_path(@alumn), class:'btn btn-lg btn-warning' %>
<% end %>
