<%= form_for :alumn, url: alumns_path do |f| %>
  <p>
    <%= f.label :registry %>
    <%= f.number_field :registry %>
  </p>

  <p>
    <%= f.label :name, class:"sr-only" %>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <%= f.text_field :name, class:"form-control", placeholder:"Nome do aluno" %>
    </div>
  </p>

  <p>
    <%= f.label :class %>
    <%= f.text_field :class %>
  </p>

  <p>
    <%= f.label :shift %>
    <%= f.text_field :shift %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :birth_date %>
    <%= f.text_field :birth_date %>
  </p>

  <p>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </p>

  <p>
  <%= f.submit 'Salvar', class:'btn btn-success' %>
  <%= link_to "Voltar", alumns_path, class:'btn btn-warning' %>
  </p>



<% end %>
