<%= form_for :alumn, url: alumns_path do |f| %>
  <p>
    <%= f.label :registry_alumn %>
    <%= f.number_field :registry_alumn %>
  </p>

  <p>
    <%= f.label :name_alumn %>
    <%= f.text_field :name_alumn %>
  </p>

  <p>
    <%= f.label :class_alumn %>
    <%= f.text_field :class_alumn %>
  </p>

  <p>
    <%= f.label :shift_alumn %>
    <%= f.text_field :shift_alumn %>
  </p>

  <p>
    <%= f.label :address_alumn %>
    <%= f.text_field :address_alumn %>
  </p>

  <p>
    <%= f.label :phone_alumn %>
    <%= f.text_field :phone_alumn %>
  </p>

  <p>
    <%= f.label :birth_date_alumn %>
    <%= f.text_field :birth_date_alumn %>
  </p>

  <p>
    <%= f.label :gender_alumn %>
    <%= f.text_field :gender_alumn %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>
