
<table border="1">
  <tr>
    <th>Nome</th>
    <th>Matrícula</th>
    <th>Turma</th>
    <th>Faltas</th>
    <th>Matéria</th>
    <th>Advertências</th>
    <th>Responsável</th>
  </tr>

  <% @alumns.each do |alumn| %>
    <tr>
      <td> <%= alumn.name%></td>
      <td><%= alumn.registry%></td>
      <td><%= alumn.classroom.name_classroom%></td>
      <td><% alumn.school_misses.each do |miss|  %>
            <%= miss.date.day %>/<%= miss.date.month %>/<%= miss.date.year %> <br>
        <% end %>
      </td>
      <td><% alumn.classroom.subjects.each do |subject| %>
            <%= subject.name_subject %><br>
          <% end %>
      </td>
      <td><%= alumn.quantity_strike %></td>
      <td><%= alumn.parent.name %></td>
    </tr>
  <% end %>
