<%= render "layouts/navbar" %>

<div class="container text-center">
  <h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Alunos</h1>
  <hr>
     <%= form_tag(alumns_path, :method => "get", id: "search-form") do %>
      <div class="form-inline">
        <div class="input-group">
           <%= text_field_tag :search, params[:search], placeholder: "Digite nome ou matrícula do aluno", class: "form-control", :size=>"50"%>
           <span class="input-group-btn">
             <%= button_to 'Buscar'.html_safe, nil, class: "btn btn-default" %>
           </span>
        </div>
      </div>
   <% end %>
   <br>
</div>

<%= render "layouts/feedback_messages" %>

<section class="content-section" id="alumns-list">
  <% @alumns.each do |alumn| %>
  <div class="container">
    <div class="row item">
      <div class="col-sm-12 col-md-4">
        <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
      </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h2><%= alumn.name %></h2>
        <h4> <%= alumn.address %> </h4>
        <h4> <%= alumn.birth_date %> </h4>
        <h4> <%= alumn.gender %> </h4>
        <h4> <%= alumn.phone %> </h4>
        <h4> <%= alumn.registry %></h4>
        <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, alumn_path(alumn), class:'btn btn-info' %>
        <%if is_principal? %>
          <%= link_to '<span class="fa fa-unlock"></span> Resetar senha'.html_safe, edit_password_alumn_path(alumn), class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <% end %>
</section>
