<h1> Criar Aluno </h1>


<%= form_for :alumn, url: alumns_path do |f| %>
  <p>
    <%= f.label :registry_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :name_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :class_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :shift_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :address_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :phone_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :birth_date_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.label :gender_alumn %>
    <%= f.text_field :text %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>
