<%= render "layouts/navbar" %>
<section class="content-section" id="alunos-desc">
  <div class="container">
    <div class="pull-right">
      <% if @current_user.is_a?(Alumn) %>
        <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, :back, class:'btn btn-sm btn-info' %>
      <% else %>
        <%= link_to '<span class="fa fa-arrow-left"></span> Voltar'.html_safe, users_path, class:'btn btn-sm btn-info' %>
      <% end %>
      <%if @current_user.is_a?(Principal) %>
        <%= link_to '<span class="fa fa-edit"></span> Editar'.html_safe, edit_alumn_path(@alumn), class:"btn btn-sm btn-default" %>
        <%= link_to '<span class="fa fa-times"></span> Excluir'.html_safe, "", method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Tem certeza? Essa alteração não pode ser desfeita.' } %>
      <%end%>
    </div>
      <div class="row item">
        <div class="col-sm-12 col-md-4">
          <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive") %>
        </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h3>Nome: <%= @alumn.name %></h3>
        <h4>Telefone: <%= @alumn.phone %></h4>
        <h4>Sexo: <%= @alumn.gender %></h4>
        <h4>Endereço: <%= @alumn.address %></h4>
        <h4>Data de Nascimento: <%= @alumn.birth_date %></h4>
        <h4><%=link_to "Responsável: #{@alumn.parent.name}",parent_path(@alumn.parent), class: "btn btn-default" %></h4>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active" role="presentation"><a href="#faltas" aria-controls="faltas" role="tab" data-toggle="tab">Faltas</a></li>
      <li role="presentation"><a href="#boletim"aria-controls="boletim" role="tab" data-toggle="tab">Boletim</a></li>
      <li role="presentation"><a href="#notificacoes" aria-controls="notificacoes" role="tab" data-toggle="tab">Notificações</a></li>
    </ul>
    <div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="faltas">
              <% if (@current_user.is_a?(Employee)) %>
                <%= link_to '<span class="fa fa-user-times"></span> Adicionar uma nova falta'.html_safe, new_school_miss_path(@alumn), class:"btn btn-success btn-sm" %>
              <% end %>
                <ul>
                  <% @alumn.school_misses.all.reverse.each do |miss| %>
                    <li>miss.date.year</li>
                  <% end %>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="boletim">
                <img src="img/boletim.png" class="img-responsive">
            </div>
            <div role="tabpanel" class="tab-pane" id="notificacoes">
                <p class="text-center text-capitalize text-danger">nenhuma notificação no histórico.</p>
            </div>
        </div>
    </div>
  </div>
</section>
