<%= render "layouts/navbar" %>
<br>
<br>
<% if flash[:notice]%>
 <div class="alert alert-warning" role = "alert"><%= flash[:notice]%></div>
<% end %>
<section class="content-section" id="alunos-desc">
  <div class="container">
    <div class="pull-right">
      <%= link_to '<span class="fa fa-arrow-left"></span>Voltar'.html_safe, alumn_path, class:'btn btn-sm btn-info' %>
      <%if is_alumn? %>
      <%= link_to '<span class="fa fa-arrow-left"></span>Voltar'.html_safe, alumn_path, class:'btn btn-sm btn-info' %>
      <%end%>
      <%if is_parent? %>
      <%= link_to '<span class="fa fa-arrow-left"></span>Voltar'.html_safe, parents_path, class:'btn btn-sm btn-info' %>
      <%end%>
      <%if is_principal? %>
        <%= link_to '<span class="fa fa-edit"></span>Editar'.html_safe, edit_parent_path(@parent), class:"btn btn-sm btn-default" %>
        <%= link_to 'Adicionar aluno', new_parent_alumn_path(@parent), class:"btn btn-sm btn-roxo"%>
        <%= link_to '<span class="fa fa-times"></span>Excluir'.html_safe, "", method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Tem certeza? Essa alteração não pode ser desfeita.' } %>
      <%end%>
    </div>
    <div class="row item">
      <div class="col-sm-12 col-md-4">
        <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
      </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h3 class=""><%= @parent.name %></h3>
        <h4 class="">Telefone: <%= @parent.phone %></h4>
        <h4 class="">Sexo: <%= @parent.gender %></h4>
        <h4 class="">Endereço: <%= @parent.address %></h4>
        <h4 class="">Data de Nascimento: <%= @parent.birth_date %></h4>
        <h4 class="">CPF: <%= @parent.parent_cpf %></h4>
      </div>
    </div>
  </div>
</section>
