<%= render "layouts/navbar" %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Secretários</h1>
<hr>
<section class="content-section" id="alumns-list">
  <% @secretaries.each do |secretary| %>
  <div class="container">
    <div class="row item">
      <div class="col-sm-12 col-md-4">
        <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
      </div>
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h2><%= secretary.name %></h2>
        <h4> <%= secretary.address %> </h4>
        <h4> <%= secretary.birth_date %> </h4>
        <h4> <%= secretary.gender %> </h4>
        <h4> <%= secretary.phone %> </h4>
        <h4><%= secretary.employee_cpf %></h4>
        <%= link_to '<span class="fa fa-search-plus"></span> Visualizar'.html_safe, secretary_path(secretary), class:'btn btn-info' %>
        <%if @current_user.permission =="Principal" %>
          <%= link_to '<span class="fa fa-unlock"></span> Resetar senha'.html_safe, edit_password_path(secretary), class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <% end %>
</section>
