<!DOCTYPE html>
<html>
  <head>
    <title>EscolaX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <!--Debugger information -->
    <%= debug (params) if Rails.env.development? %>
  </body>
</html>
