<%= render "layouts/navbar" %>
<br>
<br>
 <!-- Field of barcode to look for alumn -->
<form>
  <div class="form-group" style="width:15%; margin:0 auto;" >
    <%= form_tag(alumns_path, :method => 'get' ) do %>
        <%= text_field_tag :bar_code, params[:bar_code] , placeholder: "Código de barras" , value: "" , autofocus: "True"%>
    <% end %>

  </div>
</form>

<% if @alumn != nil%>
	<div class="container">
		<br>
    <center>
      <% if @alumn.photo != nil%>
        <%= ("<img id =  'profile-image' width = '500' height = '450' alt='image' class= 'list_image' src='data:image/jpg;base64,%s'>" % Base64.encode64(@alumn.photo)).html_safe %><br>
      <% else%>
        <img src="/app/assets/images/foto 250x300.jpg" alt="Foto não cadastrada" height="450" width="500">
      <% end %>
  	</center>
  	</div>
  	<div>
  		<center>
  			<h3> <%= @alumn.name %> </h3>
  		</center>
  	</div>
<% else%>
    <center>
      <h3> Aluno não encontrado </h3>
    </center>
<% end %>
