<%= render "layouts/navbar" %>
<section id="alumns-desc" class="content-section">
  <form>
    <div class="form-group" style="width:15%; margin:0 auto;" >
      <%= form_tag(alumns_path, :method => 'get' ) do %>
          <%= text_field_tag :bar_code, params[:bar_code] , placeholder: "Código de barras" , value: "" , autofocus: "True"%>
      <% end %>
    </div>
  </form>
  <div class="container">
  <% if @alumn != nil%>
  		<br>
      <center>
        <% if @alumn.image_file_name != nil%>
          <%= image_tag(@alumn.image.url(:original), alt: "", class: "img-responsive") %>
        <% else%>
          <img src="/app/assets/images/foto 250x300.jpg" alt="Foto não cadastrada" height="450" width="500">
        <% end %>
    	</center>
    	<div class="text-center">
    			<h3> <%= @alumn.name %> </h3>
    	</div>
  <% else%>
      <center>
        <h3> Aluno não encontrado </h3>
      </center>
  <% end %>
  </div>
</section>
